html {
    scroll-behavior: smooth;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  img {
    vertical-align: top;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }


  .wrapper {
    max-width: 950px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

.section {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}
.section-title {
    font-weight: 600;
    font-size: 1.2rem;
}
.main-title {
    font-size: 1.5rem;
}
.hello-section {
    flex-direction: row;
    column-gap: 5rem;
}
.my-pic {
    width: 180px;
}
.list {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}
.line {
    display: block;
    height: 1px;
    background: black;
    min-width: 70%;
}

  .link {
    text-decoration: none;
    color: #672f2f;
    transition: color 0.5s;
  }

  .link:hover {
    opacity: 0.5;
  }

  .link:visited {
    opacity: 0.5;
  }

  @media screen and (max-width: 640px){
    .hello-section {
        flex-direction: column;
    }
  }